
.fixed {
  background: #a4c467;
  height: 50px;
  width: 300px;
  position: fixed;
  bottom: 60px;
  right: 32px;
  color: black;
 }
 

.relative-parent {
  background: #156236;
}
.relative {
  background: #c7bcc9;
  height: 250px;
  width: 340px;
  position: relative;
  top: 20px;
  left: 45px;
  color: black;
}

.absolute {
  position: absolute;
  top: 35px;
  right: 32px;
  width: 260px;
  height: 150px;
  background-color: rgb(181, 61, 187);
  color:black;
}


* {
  background-color: rgb(237, 209, 234);
  border-radius: 50px;
  color: rgb(153, 100, 153);
}
